@font-face {
    font-family: "Manrope";
    src: url(../assets/fonts/Manrope-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Manrope";
    src: url(../assets/fonts/Manrope-ExtraBold.ttf);
    font-weight: 800;
}

:root {
    --primary: #848ead;
    --secondary: #293356;
    --promotion: #ff8d68;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../assets/images/bg.svg") top/contain no-repeat,
        -webkit-gradient(linear, left top, left bottom, from(#f9faff), to(#f9faff));
    background: url("../assets/images/bg.svg") top/contain no-repeat,
        -o-linear-gradient(#f9faff, #f9faff);
    background: url("../assets/images/bg.svg") top/contain no-repeat,
        linear-gradient(#f9faff, #f9faff);
    font-family: "Manrope", sans-serif;
}

.container {
    max-width: 540px;
    margin: 0 auto;
}

.title {
    position: relative;
    font-size: 28px;
    font-weight: 800;
    color: #293356;
    text-align: center;
    margin-top: 67px;
    z-index: 1;
}

.title::after {
    content: "";
    width: 126px;
    height: 126px;
    border-radius: 100%;
    position: absolute;
    top: -50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 1px solid #cfd8ef;
    z-index: -1;
}

.title::before {
    content: "";
    width: 82px;
    height: 82px;
    border-radius: 100%;
    border: 1px solid #cfd8ef;
    position: absolute;
    top: -100%;
    left: 50%;
    z-index: -1;
}

.subtitle {
    font-size: 15px;
    font-weight: 600;
    color: #848ead;
    text-align: center;
    margin-top: 12px;
}

.pricing {
    background: #ffffff;
    -webkit-box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    border-radius: 8px;
    margin-top: 90px;
}

.pricing__top {
    padding: 40px 48px;
    border-bottom: 1px solid #ecf0fb;
}

.pricing__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pricing__pageviews {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--primary);
}

.pricing__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
}

.pricing__price_mobile {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 24px;
}

.pricing__sum {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1px;
    color: var(--secondary);
    margin-right: 8px;
}

.pricing__range {
    width: 100%;
    height: 9px;
    margin-top: 24px;
    -webkit-appearance: none;
    background-color: #cccccc;
    border-radius: 5px;
}

.pricing__range::-webkit-slider-runnable-track {
    height: 9px;
    -webkit-appearance: none;
    cursor: pointer;
    color: #a4f3eb;
    /* border-radius: 5px; */
    margin-top: 1px;
}

.pricing__range:focus {
    outline: transparent;
}

.pricing__range::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: url(../assets/images/arrow-left.png) 9px/6px no-repeat,
        url(../assets/images/arrow-right.png) 25px/6px no-repeat,
        -webkit-gradient(linear, left top, left bottom, from(#10D8C4), to(#10D8C4));
    background: url(../assets/images/arrow-left.png) 9px/6px no-repeat,
        url(../assets/images/arrow-right.png) 25px/6px no-repeat,
        linear-gradient(#10D8C4, #10D8C4);
    -webkit-box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    margin-top: -18px;
}

.pricing__range::-webkit-slider-thumb:hover {
    background: url(../assets/images/arrow-left.png) 9px/6px no-repeat,
        url(../assets/images/arrow-right.png) 25px/6px no-repeat,
        -webkit-gradient(linear, left top, left bottom, from(#7AEADF), to(#7AEADF));
    background: url(../assets/images/arrow-left.png) 9px/6px no-repeat,
        url(../assets/images/arrow-right.png) 25px/6px no-repeat,
        linear-gradient(#7AEADF, #7AEADF);
}

.pricing__range::-webkit-slider-thumb:active {
    background: url(../assets/images/arrow-left.png) 9px/6px no-repeat,
        url(../assets/images/arrow-right.png) 25px/6px no-repeat,
        -webkit-gradient(linear, left top, left bottom, from(#24AEA1), to(#24AEA1));
    background: url(../assets/images/arrow-left.png) 9px/6px no-repeat,
        url(../assets/images/arrow-right.png) 25px/6px no-repeat,
        linear-gradient(#24AEA1, #24AEA1);
}

.pricing__range::-webkit-slider-thumb::before {
    content: url("../assets/images/arrow-left.png");
    position: absolute;
    display: block;
    width: 6px;
    height: 13px;
    top: 0%;
    left: 50%;
}

.pricing__range::-moz-range-progress {
    background-color: #a4f3eb;
}

.pricing__range::-moz-range-track {
    background-color: #cccccc;
}

.pricing__range::-ms-fill-lower {
    background-color: #a4f3eb;
}

.pricing__range::-ms-fill-upper {
    background-color: #cccccc;
}

.pricing__billing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 40px;
    margin-right: 20px;
}

.pricing__billing label {
    width: 43px;
    height: 22px;
    position: relative;
    border-radius: 15px;
    background: #cfd8ef;
    margin: 0 16px;
    cursor: pointer;
    padding: 4px;
}

.pricing__billing label:hover {
    background: #7aeadf;
}

.pricing__billing label span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background: #ffffff;
    border-radius: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.pricing__billing label input[type="checkbox"]:checked+span {
    -webkit-transform: translate(150%, -50%);
    -ms-transform: translate(150%, -50%);
    transform: translate(150%, -50%);
}

.pricing__switch {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.pricing__choice {
    font-size: 12px;
    font-weight: 600;
    color: var(--primary);
    word-wrap: normal;
}

.pricing__discount {
    background: #feede8;
    font-size: 10px;
    font-weight: 800;
    color: var(--promotion);
    border-radius: 9.5px;
    padding: 2px 6px;
    margin-left: 9px;
}

.pricing__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 32px 48px;
}

.pricing__advantages {
    list-style: none;
}

.pricing__advantages-item {
    font-size: 12px;
    font-weight: 600;
    color: var(--primary);
    margin: 5px 0;
}

.pricing__advantages-item::before {
    content: url("../assets/images/check.svg");
    margin-right: 16px;
}

.btn {
    background: var(--secondary);
    font-size: 12px;
    font-weight: 800;
    color: #becdff;
    border: none;
    border-radius: 20.5px;
    padding: 12px 46px;
    cursor: pointer;
    outline: transparent;
}

.btn:hover {
    color: #ffffff;
}


.modal {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 300px;
    padding: 20px;
    background: rgba(255, 255, 255, .9);
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(204, 204, 204, 1);
    box-shadow: 3px 3px 10px 0px rgba(204, 204, 204, 1);
    display: none;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.modal__message {
    font-size: 16px;
    font-weight: 800;
    color: var(--primary);
    margin-bottom: 15px;
}

.modal__close {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary);
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 5%;
    }

    .title {
        font-size: 20px;
    }

    .subtitle {
        font-size: 13px;
    }

    .pricing__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 34px 11px 28px 11px;
    }

    .pricing__header {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .pricing__price {
        display: none;
    }

    .pricing__price_mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .pricing__discount span {
        display: none;
    }

    .pricing__billing {
        margin: 0;
        margin-top: 34px;
    }

    .pricing__billing label {
        margin: 0 12px;
    }

    .pricing__bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 24px 10px 34px 10px;
    }

    .pricing__advantages {
        margin-bottom: 32px;
    }

    .pricing__advantages-item {
        text-align: center;
    }
}